@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Creato Display';
  src: url('/fonts/CreatoDisplay-Thin.otf') format("opentype");;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Creato Display';
  src: url('/fonts/CreatoDisplay-Light.otf') format("opentype");;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Creato Display';
  src: url('/fonts/CreatoDisplay-Regular.otf') format("opentype");;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Creato Display';
  src: url('/fonts/CreatoDisplay-Medium.otf') format("opentype");;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Creato Display';
  src: url('/fonts/CreatoDisplay-Bold.otf') format("opentype");;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Creato Display';
  src: url('/fonts/CreatoDisplay-ExtraBold.otf') format("opentype");;
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Ultralight.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Thin.otf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Semibold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Heavy.otf') format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Black.otf') format('opentype');
  font-weight: 900;
}





.Montserrat {
  font-family: "Montserrat", sans-serif;
}
.plus_jakarta_sans {
  font-family: "Plus Jakarta Sans", serif;
}

.Arial {
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
